.mainpageposter{
    margin: 20px;
    color: #fff;
}
.movieposter{
   
    margin-top: 100px;
   
    padding: 20px;
     ;
}

.movietitle{
    color: black;
    
    
    
}

.poster{
    
    
    max-height: 300px;
    margin-right: 10px;
   
}



.postercontainer{
 

    display: flex;
    overflow-x: scroll;
    overflow-y:hidden ;
     

}

.postercontainer::-webkit-scrollbar{
    display: none;
}


.youtube{
    width:100%;
    height:100%;
    margin-right: 0%;
   
}
