.mainpageposter{
    margin: 20px;
    color: #fff;
}
.movieposter{
   
    margin-top: 100px;
   
    padding: 20px;
     ;
}

.movietitle{
    color: black;
    
    
    
}

.poster{
    
    
    max-height: 250px;
    margin-right: 10px;
     
}



.postercontainer{
    display: flex;
    flex-wrap: wrap;

}