
.navbar{
	
 top:0;
 width: 100%;
 height : 40px;
 padding: 20px;
 position:fixed;
 display: flex;
 background-color: #111;
}

.button{
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 10px;
	box-shadow:inset -30px -25px 7px -8px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:5px;
	border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:13px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

.button:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.button:active {
	position:relative;
	top:1px;
}


.searchbar{
	margin-right: 0px;
	margin: auto;
	width: 150px;
}